name: openwrt-build

on:
  workflow_dispatch: # 手动触发

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: 获取源码
        uses: actions/checkout@v4

      - name: "设置环境"
        run: |
          chmod +x *.sh
          bash init.sh

      - name: "开始构建"
        run: |
          cd ./openwrt
          make world V=s -j$(nproc)

      - name: "上传固件"
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-firmware
          path: ~/openwrt/bin/targets/
